* {
    --black: 20, 20, 20;
}

body {
    font-family: 'Inter', sans-serif !important;
}

.hero-image {
    position: relative;
    width: 100vw;
    height: 60vh;
    opacity: 0.7;
    object-fit: cover;
}