* {
    --black: 20, 20, 20;
}

body {
    font-family: 'Inter', sans-serif !important;
}

.hero-image {
    position: relative;
    width: 100vw;
    height: 60vh;
    opacity: 0.7;
    object-fit: cover;
}

.header-padding {
    @media (min-width: 990px) {
        padding-inline: calc(2rem + 8vw);
    }
    @media (min-width: 1200px) {
        padding-inline: calc(5rem + 12vw);
    }
}

.search-bar-label {
    position: relative;
    font-size: 0.8rem;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}

.search-bar-sub-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.search-bar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
    .table-head-sm-disable {
        display: none;
    }
}