* {
    --black: 20, 20, 20;
}
body {
    font-family: 'Inter', sans-serif !important;
}

@media (min-width: 576px) {
    .hero-image {
        height: 30vw;
    }
}
@media (min-width: 992px) {
    .hero-image {
        height: 40vw;
    }
}
@media (min-width: 1200px) {
    .hero-image {
        height: 50vw;
    }
}

.hero-image {
    margin-top: 3.5rem;
    position: relative;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    background-image: url('img/hero.jpg');
    background-size: cover;
    background-position: center top 10%;
    opacity: 0.7;
}