* {
    --black: 20, 20, 20;
}

body {
    font-family: 'Inter', sans-serif !important;
}

.hero-image {
    position: relative;
    width: 100vw;
    height: 60vh;
    opacity: 0.7;
    object-fit: cover;
}

.header-padding {


    padding-inline: calc(5rem + 12vw);
    @media (max-width: 1200px) {
        padding-inline: calc(2rem + 8vw);
    }

    /*@media (min-width: 300px) {
        padding-inline: 2rem !important;
    }

    @media (min-width: 800px) {
        padding-inline: 7rem !important;
    }

    @media (min-width: 1000px) {
        padding-inline: 8.7rem !important;
    }

    @media (min-width: 1100px) {
        padding-inline: 11rem !important;
    }

    @media (min-width: 1200px) {
        padding-inline: 14rem !important;
    }

    @media (min-width: 1300px) {
        padding-inline: 17rem !important;
    }*/
}